/* Site wide font */
@import url(https://fonts.googleapis.com/css?family=Cherry+Cream+Soda);

body {
    font-family: sans-serif;
    background: url('../images/CremeBrulee.JPG') no-repeat;
}

body > div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Headings */
h1, h3 {
    font-family: 'Cherry Cream Soda', cursive;
    text-align: center;
}

h1 {

}

h3 {
    font-style: italic;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 20px;
    transform: translate(-50%);
    color: #aaa;
}